# **Data Types in Python**

# ðŸŒŸ **We4AI**  
**We4AI** is an EdTech platform founded to provide **personalized guidance** and **direct support** for learners in **Artificial Intelligence (AI)** and **Data Science**. Led by **GeekyRahul**, we ensure every student gets the mentorship they deserve.  

---

## ðŸš€ **Why Choose We4AI?**  
- ðŸ“š **Expertly Designed Courses**: Simplified, practical, and beginner-friendly.  
- ðŸŒ **Personalized Guidance**: Direct support from **GeekyRahul** to answer your doubts.  
- ðŸ’¬ **Community Support**: Join our exclusive **WhatsApp group** for real-time interaction.  

---

## ðŸ’¡ **What We Offer**  
1. **Beginner-Friendly Content**: Learn Python, Data Science, and AI with ease.  
2. **Hands-On Learning**: Practice real-world problems and industry projects.  
3. **Exclusive Access**: Direct mentorship and regular Q&A sessions with **GeekyRahul**.  

---

Python Course Link:
- [Python 101: The Data Science Starter Kit](https://www.we4ai.com/page/python)

## ðŸ“² **Connect With Us**  

ðŸ’¬ **Join Our WhatsApp Group**  
Ping us on **+91-9910863611** to get exclusive access to mentorship and support!  

ðŸ“¸ **Follow Us on Instagram**  
Stay updated with tips and tutorials: [@we4ai_com](https://www.instagram.com/we4ai_com)  

â–¶ï¸ **Subscribe to Our YouTube Channel**  
Watch tutorials and career tips: [@we4ai](https://www.youtube.com/@we4ai)

# Data Types in Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1B1zSlh0_LaVzldUkboUbOObfF3Z4MiJg?usp=sharing)

## Integer (`int`)

An integer is a whole number without any decimal or fractional part.

```
x = 100
y = 20
```

In [ ]:
x = 10  # Integer
print(x)

10

In [ ]:
x = 1500  # Large integer for calculations
y = 250
result = x + y
print(result)

1750

## Float (`float`)

A float represents a number with decimal points. It is used for representing precise or fractional values.
```
pi = 3.14  # Float
```

In [ ]:
radius = 7.5  # Radius of a circle
area = 3.14 * radius ** 2  # Calculating area using the formula Ï€rÂ²
print(f"The area of the circle is {area}")

The area of the circle is 176.625

In [ ]:
radius = 7.5  # Radius of a circle
pi = 3.14
area = pi * radius ** 2  # Calculating area using the formula Ï€rÂ²
print(f"The area of the circle is {area}")

The area of the circle is 176.625

## String (`str`)

A string is a sequence of characters enclosed in single, double, or triple quotes. Strings are used for storing and manipulating text.


```python
greeting = "Hello, World!"  # String
```

In [ ]:
name = "GeekyRahul"  # String variable
message = f"Welcome to We4AI, {name}!"  # Using an f-string for dynamic text
print(message)

Welcome to We4AI, GeekyRahul!

In [ ]:
# Multi-line string
description = """We4AI provides:
1. Personalized guidance
2. Direct support for learners"""
print(description)

We4AI provides:
1. Personalized guidance
2. Direct support for learners

## Boolean (`bool`)

A boolean represents one of two values: `True` or `False`. It is often used in conditions and comparisons.
```
is_python_easy = True  # Boolean
```

In [ ]:
x = 10
y = 20
check_x_gt_y = x > y  # Boolean
print(check_x_gt_y)

False

In [ ]:
x = 10
y = 20
comparison_result = (x < y)  # Check if x is less than y
print(comparison_result)

# Using boolean in a conditional statement
if comparison_result:
    print("x is less than y")
else:
    print("x is not less than y")

True
x is less than y

## List (`list`)

A list is an ordered collection of items, which can be of mixed data types. Lists are mutable, meaning they can be changed after creation.

In [ ]:
fruits = ["apple", "banana", "cherry"]  # List of strings
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
numbers = [1, 2, 3, 4, 5]  # List of integers
squared_numbers = [x *x for x in numbers]  # Using list comprehension to create a new list
print("Original list:", numbers)
print("Squared list:", squared_numbers)

# Modifying a list
numbers.append(6)  # Adding an element to the list
print("Updated list:", numbers)

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]
Updated list: [1, 2, 3, 4, 5, 6]

## Tuple (`tuple`)

A tuple is an ordered, immutable collection of items. Once created, a tuple cannot be modified.

In [ ]:
coordinates = (10, 20)  # Tuple of integers
print(coordinates)

(10, 20)

In [ ]:
# Creating a tuple of strings
colors = ("red", "green", "blue")
print("Original tuple:", colors)  # Display the tuple

# Accessing the first element of the tuple
first_color = colors[0]
print("First color:", first_color)  # Display the first color

# Creating a nested tuple (a tuple containing other tuples)
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("Nested tuple:", nested_tuple)  # Display the nested tuple

# Accessing the first element of the nested tuple
print("First element of nested tuple:", nested_tuple[0])  # Display the first tuple in the nested tuple

Original tuple: ('red', 'green', 'blue')
First color: red
Nested tuple: ((1, 2), (3, 4), (5, 6))
First element of nested tuple: (1, 2)

## Set (`set`)

A set is an unordered collection of unique items. Sets do not allow duplicate values and are commonly used to perform mathematical set operations like union, intersection, and difference.

In [ ]:
# Creating a set with some duplicate values
unique_numbers = {1, 2, 3, 3, 4}

# Duplicate values (3) are removed automatically in the set
print("Set:", unique_numbers)  # Output: {1, 2, 3, 4}

Set: {1, 2, 3, 4}

In [ ]:
# Creating two sets
set_a = {1, 2, 3}  # Set containing elements 1, 2, 3
set_b = {3, 4, 5}  # Set containing elements 3, 4, 5

# Performing the union operation (combines all unique elements from both sets)
union_set = set_a | set_b
print("Union:", union_set)  # Output: {1, 2, 3, 4, 5}

# Performing the intersection operation (finds common elements between sets)
intersection_set = set_a & set_b
print("Intersection:", intersection_set)  # Output: {3}

# Performing the difference operation (elements in set_a that are not in set_b)
difference_set = set_a - set_b
print("Difference:", difference_set)  # Output: {1, 2}

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

## Dictionary (`dict`)

A dictionary is a collection of key-value pairs. Each key is unique, and it allows efficient storage and retrieval of data.

In [ ]:
# Creating a dictionary to store student information
student = {"name": "Rahul", "course": "Data Science"}

# Displaying the dictionary
print("Student Info:", student)

Student Info: {'name': 'Rahul', 'course': 'Data Science'}

In [ ]:
# Creating a dictionary to store employee details
employee = {
    "id": 101,  # Employee ID
    "name": "Alice",  # Employee name
    "skills": ["Python", "Machine Learning", "Data Analysis"],  # List of skills
    "details": {"department": "AI", "experience": 3}  # Nested dictionary
}

# Accessing and printing values from the dictionary
print("Employee Name:", employee["name"])  # Accessing the value for key 'name'
print("Employee Skills:", employee["skills"])  # Accessing the value for key 'skills'

# Accessing a nested dictionary value
print("Department:", employee["details"]["department"])  # Accessing 'department' from nested 'details'

# Adding a new key-value pair to the dictionary
employee["salary"] = 50000  # Adding 'salary' key with a value
print("Updated Employee Info:", employee)  # Displaying the updated dictionary

Employee Name: Alice
Employee Skills: ['Python', 'Machine Learning', 'Data Analysis']
Department: AI
Updated Employee Info: {'id': 101, 'name': 'Alice', 'skills': ['Python', 'Machine Learning', 'Data Analysis'], 'details': {'department': 'AI', 'experience': 3}, 'salary': 50000}

# Support Us:
If our guidance has helped you, we graciously accept donations as a way to support our mission and continue providing valuable resources.

Your support enables us to create even more personalized content and assist more students on their learning journeys.

Donate Here:
UPI: we4ai@okicici

<img src= "https://knorishblobstorage-cbbeebf4h6dudbf2.z01.azurefd.net/public/e271958a-15f5-46ef-b488-5158f4560cf7/builderv3/23122024/dd8xo.jpg" width="200" height="200" />